@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --app-max-width: 75rem;
    --gap-from-sides: 1.25rem;
    --header-height: 5rem;

    --clr-primary: #a8dadc;
    --clr-secondary: #457b9d;
    --clr-accent: #e63946;
    --clr-background: #22223b;
    --clr-text: #f1faee;

    --radius: 0.3rem;
  }
}

@layer base {
  body {
    @apply bg-background text-text min-h-svh flex flex-col;
  }

  main {
    @apply grow wrapper;
  }
}

@layer utilities {
  .wrapper {
    width: min(calc(100% - 2 * var(--gap-from-sides)), var(--app-max-width));
    margin-inline: auto;
  }
}
